{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}  
    <title>Produto</title>
</head>
<body>
    <div class="container my-5 col-4">
        <h1>Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            <!-- Como vamos colocar arquivos em nosso formulário, precisamos utilizar o enctype com multipart/form-data -->
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-outline-primary">
                Cadastrar produto
            </button>
            {% endbuttons %}
        </form>
    </div>
    

{% bootstrap_javascript jquery="full" %}
</body>
</html>